* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* nav bar */
.navbar-brand {
  font-size: 30px !important;
  font-weight: 600;
  padding-left: 30px;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

#navbarNav {
  flex-grow: 0;
}

.des-about {
  margin-bottom: 0px;
  font-size: 12px;
}

.subnav {
  font-size: 16px;
  font-weight: 600;
}

.form-inline {
  display: flex;
}
/* product-details */
.description{
  width: 50%;
  padding: 10px;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-left: 1px solid rgb(126, 121, 121);
  padding: 10px;
  width: 100%;
  line-height: 1;
}

.product-name {
  border-bottom: 1px solid rgb(230, 225, 225);
  padding-bottom: 10px;
}
.price {
  margin-left: 20px;
  margin-bottom: 0;
  padding: 10px;
}
.button {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
.btn {
  width: 45%;
}
.btn-light {
  border: 1px solid !important;
}
.form{
  display: flex;
  justify-content: space-between;
  border: 1px solid;
  margin: 20px;
}
#form_post{
  width: 50%;
}
/* custom slider img */
.img-slider {
  display: flex !important;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
}
.image {
  width: 80%;
  border-radius: 12px;
  height: 450px;
}
.img-product {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.img-item {
  margin: 0 12px;
  display: flex !important;
  justify-content: center;
}

/* slick slide */
.slick-arrow{
  border: none;
  width: 50px !important;
  height: 30px;
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
  border: 1px solid gray;
  padding: 3px 0;
}
.slick-prev{
  left: 0;
}
.slick-next{
  right: 0;
}